@{
    ViewBag.Title = "Фотографии";
}

<style>
   a > img{
        max-height: 200px;
        max-width: 260px;
        min-height: 160px;
        min-width: 100px;
        float: none;
        margin: 0 0 40px 0;
    }
   a{
       text-decoration: none;
   }
</style>

<h2>@TempData["AlbumName"]</h2>
<hr />

<div id="gallery">
    @{Html.RenderAction("GetPhotosOfAlbum", new { albumName = @TempData["AlbumName"] });}
</div>

