@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body style="color: #929280;background: #2C2C2A;">
    <hgroup>
        <h1 style="color: #E39821;">Ошибка.</h1>
        <h2>Сервер понял запрос, но не нашёл соответствующего ресурса по указанному URI.</h2>
    </hgroup>
    <a href="/Home/">Вернуться на главную</a>
</body>
</html>