
@{
    ViewBag.Title = "Setting account";
}

<h2 style="text-align:center;">Setting up your account</h2>

&nbsp;&nbsp;

<h4>Change your login</h4>
<fieldset>
    @using (Html.BeginForm("RenameUser", "Account", new { albumName = ViewBag.AlbumName }, FormMethod.Post))
    {
        <p>Enter a new login: @Html.TextBox("newLogin", "")</p>
        <p><input type="submit" value="Change" /></p>
    }
</fieldset>



&nbsp;&nbsp;

<h4>Change your email address</h4>
<hr/>
<fieldset title="Ask a new email">
    @using (Html.BeginForm("RenameAlbum", "Album", new { albumName = ViewBag.AlbumName }, FormMethod.Post))
    {
        <p>Enter your new email: @Html.TextBox("newAlbumName", "")</p>
        <p><input type="submit" value="Change" /></p>
    }
</fieldset>



&nbsp;&nbsp;

<h4>Change password</h4>
<hr/>
<fieldset>
    @using (Html.BeginForm("RenameAlbum", "Album", new { albumName = ViewBag.AlbumName }, FormMethod.Post))
    {
        <p>Enter password:
        @Html.TextBox("newAlbumName", "")</p>
        <p>Enter new password:
        @Html.TextBox("newAlbumName", "")</p>
        <input type="submit" value="Change" />
    }
</fieldset>