
@{
    ViewBag.Title = "Настройки аккаунта";
}

<h2 style="text-align:center;">Изменение настроек аккаунта</h2>

&nbsp;&nbsp;

<h4>Изменение логина</h4>
<fieldset>
    @using (Html.BeginForm("RenameUser", "Account", new { albumName = ViewBag.AlbumName }, FormMethod.Post))
    {
        <p>Введите новый логин: @Html.TextBox("newLogin", "")</p>
       <input class="btn btn-dark" type="submit" value="Изменить" />
    }
</fieldset>



&nbsp;&nbsp;

<h4>Изменение email</h4>
<hr/>
<fieldset title="Новый email">
    @using (Html.BeginForm("RenameAlbum", "Album", new { albumName = ViewBag.AlbumName }, FormMethod.Post))
    {
        <p>Введите новый email: @Html.TextBox("newAlbumName", "")</p>
        <input type="submit" class="btn btn-dark" value="Изменить" />
    }
</fieldset>



&nbsp;&nbsp;

<h4>Изменение пароля</h4>
<hr/>
<fieldset>
    @using (Html.BeginForm("RenameAlbum", "Album", new { albumName = ViewBag.AlbumName }, FormMethod.Post))
    {
        <p>Текущий пароль:
        @Html.TextBox("newAlbumName", "")</p>
        <p>Введите новый пароль:
        @Html.TextBox("newAlbumName", "")</p>
        <input type="submit" class="btn btn-dark" value="Изменить" />
    }
</fieldset>